<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

<div class="widget">
    <div class="widget-search">
        <form action="/kitapara" method="GET">
            <input class="search-input form-control" type="text" name="search" placeholder="Search">
            <button type="submit" class="m-2 btn btn-danger search-btn">Search</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Kitaplar</h3>
            <div class="list-group">
                {{#each books}}
                <a class="list-group-item clearfix" id="{{_id}}" onclick="saveBook(this)">
                    {{bookName}}
                    <span class="pull-right">
                        <span class="btn btn-xs btn-default" onclick="">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        </span>
                    </span>
                </a>
                {{else}}
                <div class="alert alert-info">
                    Bu isimde bir kitap bulunmamaktadır.
                </div>
                {{/each}}
            </div>
            <form action="/kitapara" method="POST">
                <div class="m-2">
                    <button type="submit" onclick="submitBooks()" class="btn btn-danger">kaydet</button>
                </div>
            </form>
        </div>

    </div>
</div>



<script>




    let bookList = [];

    saveBook = (e) => {
        if (bookList.length < 3) {
            bookList = [...bookList, { bookName: e.innerText, id: e.id }]
        } else {
            alert("3 ten fazla kitap secemezsiniz")
        }
        console.log(bookList)
    }

    submitBooks = (e) => {

        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
        xmlhttp.open("POST", "/kitapara");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(bookList));

    }


</script>